body {
    width: 100%;
    margin: 0%;
    background-color: black;
    color: white;
    font-size: 16px;
    text-align: center;
    border: 0%;
    margin: 0%;
    padding: 0%;
  }

  button {
    background-color: blanchedalmond;
    color: black;
}

a {
    text-decoration: none;
    color: chocolate;
}

.img {
    border: 1px solid chocolate;
    width: 20%;
      }

.certification-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Atur jarak antara gambar */
}

.certification-container img {
    height: auto;
}

.katalon-logo {
    width: 430px; /* Sesuaikan dengan ukuran gambar di sebelahnya */
    max-width: 100%; /* Agar tetap responsif */
}

.istqb-logo {
    width: 500px; /* Sesuaikan ukuran agar seimbang */
    max-width: 100%;
}