body {
    width: 100%;
    margin: 0%;
    background-color: black;
    color: white;
    font-size: 16px;
    text-align: center;
    border: 0%;
    margin: 0%;
    padding: 0%;
  }

  button {
    background-color: blanchedalmond;
    color: black;
}

a {
    text-decoration: none;
    color: chocolate;
}

.img {
    border: 1px solid chocolate;
    width: 20%;
      }

.certification-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.certification-container img {
    height: auto;
}

.katalon-logo {
    width: 450px; 
    max-width: 100%;
}

.istqb-logo {
    width: 500px;
    max-width: 100%;
}
@media (max-width: 768px) {
    .certification-container {
        display: flex;
        justify-content: center;
        gap: 5px;
        flex-direction: column;
        align-items: center; 
    }

    .katalon-logo {
        width: 55%;
    }

    .istqb-logo {
        width: 55%;
    }
}